@import url("https://use.typekit.net/efa7ivj.css");

$sansSerifFont: 'niveau-grotesk', sans-serif;
$cursiveFont: 'dream-big-wide', cursive;
$forestGreen: #003314;
$beige: #9F8C76;
$cream: #FCFBF4;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $sansSerifFont;
    height: 100%;
    width: 100vw;  
    //overflow-x: hidden;
}

#galleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2px;
    width: 50vw;

    .box {
        width: 100%;
        height: auto;

        &.vertical {
            grid-row: span 2;
            grid-column: span 1;
        }

        &.horizontal {
            grid-row: span 1;
            grid-column: span 2;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}

@media  screen and (max-width: 450px) {
    .box {
        grid-column: span 12 !important;
    }
}